import { Component } from '@angular/core';

@Component({
    selector: '{selector}',
    templateUrl: '{templateUrl}',
    styleUrls: ['{selector}.component.scss']
})
export class {className}Component {

}